/* Sets distance of content from the top */
:host {
  display: block;
  margin-top: 2rem;
}

/* Loading symbol centered */
mat-spinner {
  margin: auto;
}

.spacer {
  flex: .5 0 auto;
}

p {
  white-space: pre-line;
  text-align: left;
}

/* Sets position of background color sidenav container */
.background {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}
