<mat-toolbar color="primary">
  <span>
    <a mat-flat-button color="accent" class="logo" routerLink="/">MindStorm</a>
  </span>
  <ul>
    <li>
      <a mat-button *ngIf="userIsAuthenticated" routerLink="/character/create" routerLinkActive="mat-accent">Add a Character Trait</a>
    </li>
    <li>
      <a mat-button *ngIf="userIsAuthenticated" routerLink="/characters" routerLinkActive="mat-accent">Your List of Character Traits</a>
    </li>
    <li>
      <a mat-button *ngIf="userIsAuthenticated" routerLink="/story/create" routerLinkActive="mat-accent">Create a Story</a>
    </li>
  </ul>
    <span class="spacer"></span>
    <ul>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login</a>
      </li>
      <li *ngIf="!userIsAuthenticated">
        <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      </li>
      <li *ngIf="userIsAuthenticated">
        <button mat-button (click)="onLogout()">Logout</button>
      </li>
    </ul>
</mat-toolbar>
