<mat-toolbar color="primary">
  <span>
    <a mat-flat-button color="accent" class="logo" routerLink="/" >MindStorm</a>
  </span>
  <img src="../../../assets/images/logo-yellow.png" width="150" height="150" />
  <ul>
    <li>
      <a mat-button *ngIf="userIsAuthenticated" routerLink="/character/create" routerLinkActive="mat-accent">
        <i class="material-icons">perm_identity</i>
        Add a Character Trait
      </a>
    </li>
    <li>
      <a mat-button *ngIf="userIsAuthenticated" routerLink="/characters" routerLinkActive="mat-accent">
        <i class="material-icons">list</i>
        Your List of Character Traits
      </a>
    </li>
    <li>
      <a mat-button *ngIf="userIsAuthenticated" routerLink="/story/create" routerLinkActive="mat-accent">
        <i class="material-icons">import_contacts</i>
        Create a Story
      </a>
    </li>
  </ul>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/login" routerLinkActive="mat-accent">Login
        <i class="material-icons">fingerprint</i></a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink="/signup" routerLinkActive="mat-accent">Signup
        <i class="material-icons">storage</i></a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button (click)="onLogout()">Logout</button>
      <i class="material-icons">account_circle</i>
    </li>
  </ul>
</mat-toolbar>
