<mat-card>
  <form (submit)="onSaveComment(commentForm)" #commentForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="commentTitle" [ngModel]="comment?.commentTitle" required minlength="3" placeholder="Post Title..." #commentTitle="ngModel" >
      <mat-error *ngIf="CommentTitle.invalid">Please Enter a Comment</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text" name="commentBody" rows="4" [ngModel]="comment?.commentBody" placeholder="Post Comment..." #commentBody="ngModel" >
      </textarea>
    </mat-form-field>
    <button mat-button color="primary" type="submit">Save Comment</button>
  </form>
</mat-card>
