<!-- Background color placement tag -->
<mat-sidenav-container class="background"></mat-sidenav-container>

<!-- Generic container of signup form -->
<div class="container">

  <mat-card>
      <!-- Loading symbol -->
      <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSignUp(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">

      <!-- Input for email and invalid error message -->
      <mat-form-field>
        <input
          color="primary"
          matInput
          name="email"
          ngModel
          type="email"
          placeholder="E-Mail"
          #emailInput="ngModel"
          required
          email
          appAutoFocus>
        <mat-error *ngIf="emailInput.invalid">
          Please enter a valid email.
        </mat-error>
      </mat-form-field>

      <!-- Input for password and invalid error message -->
      <mat-form-field>
        <input
          color="primary"
          type="password"
          name="password"
          ngModel
          matInput
          placeholder="Password"
          #passwordInput="ngModel"
          required>
        <mat-error *ngIf="passwordInput.invalid">
          Please enter a valid password.
        </mat-error>
      </mat-form-field>

      <!-- Contains the Signup and Login buttons -->
      <mat-card-content>
          <button mat-raised-button class="btn" color="accent" type="submit" *ngIf="!isLoading">
            <i class="material-icons">local_play</i>
            Signup
          </button>
          <a mat-raised-button class="btn" routerLink="/login" class="btn" color="primary">
            <i class="material-icons">fingerprint</i>
            Have an account? Login!
          </a>
      </mat-card-content>

    </form>
  </mat-card>

</div>
