<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
      class="sidenav"
      [ngClass]="{hidden: (isHandset$ | async)!.matches}"
      fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async)!.matches">
    <mat-toolbar color="primary">MindStorm</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="userIsAuthenticated" routerLink="/character/create" routerLinkActive="mat-accent">Add a Charcter trait</a>
      <a mat-list-item *ngIf="userIsAuthenticated" routerLink="/characters" routerLinkActive="mat-accent">List of Character Traits</a>
      <a mat-list-item *ngIf="userIsAuthenticated" routerLink="/story/create/" routerLinkActive="mat-accent">Create a Stroy</a>
      <a mat-list-item *ngIf="!userIsAuthenticated" routerLink="/login" routerLinkActive="mat-accent">Login</a>
      <a mat-list-item *ngIf="!userIsAuthenticated" routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
      <a mat-list-item *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>
          <a mat-flat-button color="accent" class="logo" routerLink="/">MindStorm</a>
      </span>
      <span class="spacer"></span>
      <mat-nav-list>
          <a *ngIf="userIsAuthenticated" routerLink="/character/create" routerLinkActive="mat-accent">Add a Charcter trait</a>
          <a *ngIf="userIsAuthenticated" routerLink="/characters" routerLinkActive="mat-accent">List of Character Traits</a>
          <a *ngIf="userIsAuthenticated" routerLink="/story/create/" routerLinkActive="mat-accent">Create a Stroy</a>
          <a *ngIf="!userIsAuthenticated" routerLink="/signup" routerLinkActive="mat-accent">Signup</a>
          <a *ngIf="userIsAuthenticated" (click)="onLogout()">Logout</a>
        </mat-nav-list>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
