<!-- Background color placement tag -->
<mat-sidenav-container class="background"></mat-sidenav-container>

<!-- Generic container for entire list of character traits -->
<div class="container">

  <mat-card *ngIf="characters.length > 0 && !isLoading">

      <!-- Loading symbol -->
      <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>

    <mat-card-content *ngFor="let character of characters">

      <!-- Container for character trait title and detail -->
      <mat-card-content *ngIf="userIsAuthenticated && userId === character.creator">
        <mat-card-title>
            {{ character.title }}
        </mat-card-title>
        <mat-card-content>
          <p>
            {{ character.detail }}
          </p>
        </mat-card-content>

        <!-- btn class container for Edit and Delete buttons -->
        <mat-card-content class="btn-container">
          <a mat-stroked-button	class="btn" id="b" color="accent" [routerLink] = "['/character/edit', character.id]">
            <i class="material-icons">edit</i>
            Edit
          </a>
          <button mat-stroked-button class="btn" color="warn" (click)="openDialog(character.id)">
            <i class="material-icons">delete</i>
            Delete
          </button>
        </mat-card-content>

        <!-- Line divider -->
        <hr />

      </mat-card-content>
    </mat-card-content>

    <!-- Container for adding a character trait and getting an example list of traits buttons -->
    <mat-card-content class="list-btn-container">
      <a mat-raised-button class="btn" color="primary" routerLink = "/character/create">
        <i class="material-icons">add_circle</i>
        Add a Character Trait
      </a>
       <!-- Generic spacer -->
       <span class="btn-spacer"></span>
      <button mat-raised-button class="btn" color="primary" (click)="show = !show">
        <i class="material-icons">near_me</i>
        Trait Examples
      </button>

      <!-- Container for list of character trait examples -->
    </mat-card-content>
      <div class="list" *ngIf="show">
        Name<br>
        Gender<br>
        Species<br>
        Appearance<br>
        Personality<br>
        Flaws<br>
        Strengths<br>
        Likes<br>
        Dislikes<br>
        Relationships<br>
        Goals<br>
        Culture<br>
        Home<br>
        Education<br>
        Story Summary<br>
      </div>
  </mat-card>
</div>
