/* Sets toggle theme's flex, space from the top, and pushes it to the right*/
section {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
}

/* Sets toggle theme's day/night icons' position and color */
i {
  margin-right: 0.5rem;
  color: ghostwhite;
}
