<mat-sidenav-container class="background"></mat-sidenav-container>
<div class="team-section">
  <h1>Our Team</h1>
  <span class="border"></span>
  <div class="pics">
    <a href="team/jacob"
      ><img src="../../../assets/images/jacob.jpg" alt="jacob"
    /></a>
    <a href="team/maria"
      ><img src="../../../assets/images/maria.jpg" alt="maria"
    /></a>
    <a href="team/tavo"
      ><img src="../../../assets/images/tavo.jpg" alt="tavo"
    /></a>
    <a href="team/marty"
      ><img src="../../../assets/images/marty.jpg" alt="marty"
    /></a>
  </div>
  <div class="section">
    <h3 class="name">Martins Siksnis</h3>
    <span class="border"></span>
    <p>
      There are many variations of passages of Lorem Ipsum available, but the
      majority have suffered alteration in some form, by injected humour, or
      randomised words which don't look even slightly believable. If you are
      going to use a passage of Lorem Ipsum, you need to be sure there isn't
      anything embarrassing hidden in the middle of text.
    </p>
  </div>
</div>
