
<mat-card>
  <form (submit)="onSaveCharacter(characterForm)" #characterForm="ngForm">
    <mat-form-field>
      <input matInput type="text" name="title" [ngModel]="character?.title" required placeholder="character title" #title="ngModel" >
      <mat-error *ngIf="title.invalid">Please Enter Character title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput type="text" name="detail" [ngModel]="character?.detail" placeholder="post details..." #detail="ngModel" >
      </textarea>
    </mat-form-field>
    <button type="submit">Save Character trait</button>

  </form>
</mat-card>
