/* Sets distance of content from the top */
:host {
  display: block;
  margin-top: 1rem;
}

/* Loading symbol centered */
mat-spinner {
  margin: auto;
}

/* Div container sets flex*/
.container {
  display: flex;
  justify-content: center;
}

/* Sets width and opacity of entire form*/
mat-card {
  width: 90%;
  opacity: 0.9;
}

/* Sets width of mat-form-field and textarea */
mat-form-field,
textarea {
  width: 100%;
}

/* Sets height of textarea */
textarea {
  height: 15rem;
}

/* Sets flex on Pick Your Image button */
.btn-image {
  display: flex;
  justify-content: center;
}

/* Sets the file input field to invisible */
input[type="file"] {
  visibility: hidden;
}

/* Sets size of the image preview container */
.image-preview {
  height: 5rem;
  margin-bottom: 1rem
}

/* Sets height of image preview img */
.image-preview img {
  height: 100%;
}

/* Sets flex on Save Story and Cancel buttons */
mat-card-content {
  display: flex;
  justify-content: space-between;
}

/* Sets position of background color sidenav container */
.background {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}

/* All anchors and buttons are given drop shadows on mouse hover */
.btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
