<mat-sidenav-container class="background"></mat-sidenav-container>
<div class="container">
  <span class="spacer"></span>
  <mat-card>
    <mat-spinner color="accent" *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" (submit)="openDialog()" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="text" formControlName="storyTitle" placeholder="Post a title for your story" />
        <mat-error *ngIf="form.get('storyTitle').invalid">Please enter a title</mat-error>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput rows="4" formControlName="storyBody" placeholder="Post a Story"></textarea>
        <mat-error *ngIf="form.get('storyBody').invalid">Please enter a story</mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button type="button" color="primary" (click)="filePicker.click()">Pick Your Image</button>
        <input type="file" #filePicker (change)="onImagePicked($event)" />
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.storyTitle" />
      </div>
      <mat-action-row>
        <button mat-raised-button color="accent" type="submit">Save Your Story</button>
        <a mat-raised-button color="warn" routerLink="/">Cancel</a>
      </mat-action-row>
    </form>
  </mat-card>
  <span class="spacer"></span>
</div>
