/* Sets distance of content from the top */
:host {
  display: block;
  margin-top: 1rem;
}
/* Div container sets flex*/
.container {
  display: flex;
  justify-content: center;
}
/* Sets width and opacity of entire form*/
mat-card {
  width: 60%;
  opacity: 0.9;
}
/* Loading symbol centered */
mat-spinner {
  margin: auto;
}
/* Sets story title error messages to red for both light and dark color themes */
.error {
  color: rgb(241, 69, 69);
}
/* Sets width of mat-form-field and textarea */
mat-form-field,
textarea {
  width: 100%;
}
/* Sets height and font-family (for easier reading/editing) of textarea */
textarea {
  font-family: Arial, Helvetica, sans-serif;
  height: 25rem;
}
/* Sets flex on Pick Your Image button */
.btn-image {
  display: flex;
  justify-content: center;
}
/* Sets the file input field to invisible */
input[type='file'] {
  visibility: hidden;
}
/* Sets size of the image preview container */
.image-preview {
  height: 5rem;
  margin-bottom: 1rem;
}
/* Sets height of image preview img */
.image-preview img {
  height: 100%;
}
/* Sets flex on Save Story and Cancel buttons */
mat-card-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* Sets top space of anchor tag when buttons wrap to next row */
a {
  margin-top: 0.3rem;
}
/* All anchors and buttons are given drop shadows on mouse hover */
.btn:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}
/* For mobile devices, content fills the screen */
@media (max-width: 450px) {
  mat-card {
    width: 100%;
  }
  textarea {
    height: 15rem;
  }
}
