:host {
  display: block;
  margin-top: 1rem;
}

.spacer {
  flex: .5 0 auto;
}

p {
  white-space: pre-line;
  text-align: left;
}

mat-paginator {
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}
