:host {
  display: block;
  margin-top: 2rem;
}

.spacer {
  flex: .5 0 auto;
}

p {
  white-space: pre-line;
  text-align: left;
}

mat-paginator {
  width: 100%;
  opacity: 0.7;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

mat-expansion-panel-header {
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 100%;
}

img {
  width: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.background {
  position: fixed;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  z-index: -1;
}
