<mat-accordion *ngIf="stories.length > 0">
  <mat-expansion-panel *ngFor="let story of stories">
    <mat-expansion-panel-header>
      <span class="spacer"></span>
      {{ story.storyTitle }}
    </mat-expansion-panel-header>
      <p>
        {{ story.storyBody }}
      </p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink] = "['/editStory', story.id]">Edit Story</a>
      <button mat-button color="warn" (click)="onDelete(story.id)">Delete Story</button>
    </mat-action-row>
    <mat-action-row>
      <a mat-raised-button routerLink="/createComment">Give Feedback</a>
      <a mat-raised-button routerLink="/comments">View Comments</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<p class="info-text mat-body-1" *ngIf="stories.length <= 0">No Story added yet!</p>
