<mat-card *ngIf="stories.length > 0">
  <div *ngFor="let story of stories">
    <div>
      <h3>
        {{ story.storyTitle }}
      </h3>
    </div>
    <div>
      <p>
        {{ story.storyBody }}
      </p>
    </div>
    <div>
      <a mat-button color="primary" [routerLink] = "['/editStory', story.id]">Edit Story</a>
      <button mat-button color="warn" (click)="onDelete(story.id)">Delete Story</button>
    </div>
    <hr />
  </div>
</mat-card>
<p class="info-text mat-body-1" *ngIf="stories.length <= 0">No Story added yet!</p>
