<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-sidenav-container class="background"></mat-sidenav-container>
<mat-accordion *ngIf="stories.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let story of stories">
    <mat-expansion-panel-header>
      <span class="spacer"></span>
      {{ story.storyTitle }}
    </mat-expansion-panel-header>
    <p>
      {{ story.storyBody }}
    </p>
    <p>
      <app-comment-post></app-comment-post>
    </p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === story.creator">
      <a mat-button color="primary" [routerLink]="['/story/edit', story.id]">Edit Story</a>
      <button mat-button color="warn" (click)="openDialog(story.id)">Delete Story</button>
    </mat-action-row>
    <div class="story-image">
      <img [src]="story.imagePath" [alt]="story.storyTitle" />
    </div>
    <mat-action-row>
      <a mat-raised-button routerLink="/comment/create" *ngIf="userIsAuthenticated">Give Feedback</a>
      <a mat-raised-button routerLink="/comments">View Comments</a>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalStories" [pageSize]="storiesPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onPageChanged($event)" *ngIf="stories.length > 0">
</mat-paginator>
<p class="info-text mat-body-1" *ngIf="stories.length <= 0 && !isLoading">No Story added yet!</p>